html{
    display: block;
}
.top-bar > img{
    height: 72px;
    width: 24px;
}

.top-bar{
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 84px;
    margin-bottom: 36px;
    text-align: center;
}
body{   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.util{
    height: 36px;
}

#language_icon,
#darkMod{
    margin-left: 12px;
}
.center-text{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    line-height: 1.38;
}
.inner{
    width: 630px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 816px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    align-items: center;
}

a{
    padding: 0 28px;
}