.no1{
    margin: 10px;
}
#title,
#content{
    margin-left: 30px;
}

table{
    border: 1px solid black;
    width: 100%;
}

thead th,
tfoot th{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background: rgb(255, 160, 122);
    text-align: center;
    color: white;
}

tbody th{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background: rgb(255, 255, 224);
    text-align: center;
    color: black;
    text-align: left;
    font-size: 12px
}

table button{
    width: 100%;
}